<p id="notice"><%= notice %></p>

<h1>Ankits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ankits.each do |ankit| %>
      <tr>
        <td><%= ankit.name %></td>
        <td><%= ankit.email %></td>
        <td><%= ankit.age %></td>
        <td><%= link_to 'Show', ankit %></td>
        <td><%= link_to 'Edit', edit_ankit_path(ankit) %></td>
        <td><%= link_to 'Destroy', ankit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ankit', new_ankit_path %>
